<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    {% if css %}
    <link rel="stylesheet" href="{{ css }}" />
    {% endif %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
  </head>
  <body>
    <div class="container">{{ content }}</div>
    <footer class="footer">
      Created by
      <a
        class="link"
        href="https://github.com/rs1257"
        target="_blank"
        rel="noopener noreferrer"
        >rs1257</a
      >
    </footer>
  </body>
</html>
