@use "./_colours" as g;

.main {
  width: 100%;

  .title {
    text-align: center;
  }

  .about {
    padding-right: 2rem;

    img {
      height: auto;
      width: auto;
      max-width: 40%;
      max-height: 40%;
    }

    p {
      padding: 10px;
      margin: 0;
    }
  }
}
