@use "./_colours" as g;

.main {
  width: 100%;

  .title {
    text-align: center;
  }

  .about {
    padding-right: 2rem;

    img {
      width: 200px;
      height: auto;
    }

    p {
      padding: 10px;
      margin: 0;
    }
  }
}
